@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Estilos {
    <link href="~/lib/datatables2/css/datatables.datatables.css" rel="stylesheet" />

}
<h2 class="mt-4 mb-4">Usuarios</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Lista de Usuarios
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <button class="btn btn-outline-success" id="btnNuevoUsuario">Nuevo Usuario</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <table class="display" id="tbUsuario" cellspacing="0" style="width:100%">
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="mdUsuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="col-form-label">Nombre Completo:</label>
                        <input type="text" class="form-control" id="txtNombreCompleto" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label">Nombre Usuario:</label>
                        <input type="text" class="form-control" id="txtNombreUsuario" autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="col-form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="txtContrasenia" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label">Repetir Contraseña:</label>
                        <input type="password" class="form-control" id="txtRepetirContrasenia" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/lib/datatables2/js/moment.min.js"></script>
    <script src="~/lib/datatables2/js/datatables.js"></script>

    <script src="~/views/usuario/usuario.js"></script>
}